include setup.py
include README
include COPYING
include NEWS
include mididings/*.py
include mididings/units/*.py
include mididings/extra/*.py
include mididings/live/*.py
include src/SConstruct
include src/*.hh
include src/*.cc
include src/units/*.hh
include src/backend/*.hh
include src/backend/*.cc
include src/util/*.hh
include tests/*.py
include tests/units/*.py
include scripts/mididings
include scripts/livedings
include doc/*.html
include doc/*.png
include doc/style.css
include doc/examples/*.py
