include setup.py
include README
include COPYING
include mididings/*.py
include mididings/units/*.py
include src/SConstruct
include src/*.hh
include src/*.cc
include src/util/*.hh
include test/unit.py
include doc/*
