body {
    max-width: 60em;
    font-size: 85%;
    font-family: sans-serif;
}

h1 {
    font-size: 130%;
    color: #333;
    background: #eee;
    padding: 3px 0.7em;
}

h2 {
    font-size: 110%;
    color: #fff;
    background: #667;
    padding: 2px 0.7em;
    margin-top: 1.8em;
}

h3 {
    font-size: 100%;
    color: #333;
    background: #dddde5;
    background: -moz-linear-gradient(left, #dddde5 0%, #dddde5 15%, #fff 50%);
    background: -webkit-linear-gradient(left, #dddde5 0%, #dddde5 15%, #fff 50%);
    padding: 2px 0.7em;
    margin-top: 1.8em;
    margin-left: 0.6em;
}

h4 {
    font-size: 100%;
    color: #333;
    padding-left: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}

p, table {
    margin-left: 2em;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

ul {
    margin-left: 0.5em;
}

b {
    color: #333;
}

pre {
    margin: 0em;
}

table {
    border: 1px solid #333;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 0em 0.3em;
}

th {
    color: #333;
    text-align: left;
    background: #eee;
}

a {
    font-weight: bold;
    color: #237;
}

li {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

li.toplevel {
    margin-bottom: 0.8em;
    padding-bottom: 0.5em;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

li.toplevel > a {
    font-size: 115%;
}

li.toplevel:last-child {
    border-bottom: none;
}


div.example {
    background-color: #ffd;
    margin: 0.6em 16em 1em 2.2em;
    padding: 3px;
    border: 1px dashed #edb;
    font-family: monospace;
}

li > div.example {
    margin-left: 0em;
}

div.example > div.header {
    font-style: italic;
    color: #556;
    margin-bottom: 0.3em;
}


div.nav {
    position: relative;
    text-align: center;
    padding-top: 8px;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #eee;
}

div.nav:last-child {
    margin-top: 2em;
    padding-bottom: 8px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

div.nav > .navprev {
    position: absolute;
    left: 12px;
}

div.nav > .navnext {
    position: absolute;
    right: 12px;
}

div.nav > .navprev:before {
    content: "\2190\00a0";
}

div.nav > .navnext:after {
    content: "\00a0\2192";
}
